<section class="container-fluid pl-5 pr-5">
  <h1 class="mb-4 text-center">Gestion Clientes</h1>
  <tabla-clientes [clientes]="clientes" (cambio)=funCambiar($event)></tabla-clientes>
  <form-post-cliente *ngIf="modalPostCliente" (updateClientes)=updateClientes() (cambio)=funCambiar($event)>
  </form-post-cliente>
  <form-put-cliente *ngIf="modalPutCliente" [dniCliente]="dniCliente" (updateClientes)=updateClientes()
    (cambio)=funCambiar($event)>
  </form-put-cliente>
  <modal-delete-cliente *ngIf="modalDeleteCliente" [dniCliente]="dniCliente" (updateClientes)=updateClientes()
    (cambio)=funCambiar($event)>
  </modal-delete-cliente>
</section>