<section class="fixed-top modal-bg vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div id="contacto" class="modal-form formulario container p-5 col-9 col-md-6 bg-light">
        <h1 class="display-4 text-center mb-4 pt-3">Login</h1>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-12 mb-3">
                    <label for="validationDni">DNI</label>
                    <input type="text" class="form-control" id="validationDni" value="" name="dni" [(ngModel)]="dni"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Porfavor Introduce un DNI
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label for="validationPassword">Contraseña</label>
                    <input type="text" class="form-control" id="validationPassword" value="" name="Password"
                        [(ngModel)]="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Porfavor Introduce la Constraseña.
                    </div>
                </div>
            </div>
            <button (click)="login()" type="submit" class="btn btn-primary btn-lg btn-block mr-3" data-toggle="modal"
                data-target="#exampleModal">Enviar</button>
        </form>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>

    </div>
</section>