<login *ngIf="!login" (cambio)=funLogin($event)></login>
<cabecera *ngIf="login" [title]="title" (cambio)=funCambiar($event)></cabecera>
<gestion-clientes *ngIf="gestionClientes && login"></gestion-clientes>
<gestion-productos *ngIf="gestionProductos && login"></gestion-productos>
<gestion-pedidos *ngIf="gestionPedidos && login"></gestion-pedidos>
<router-outlet></router-outlet>
<!-- [title]="title" [gestionClientes]="gestionClientes" [gestionProductos]="gestionProductos" [gestionPedidos]="gestionPedidos" -->