body{
    background-color: hsl(0, 0%, 91%) !important;
}

section{
    background-color: white !important;
}

.nav-superior .nav-item .nav-link {
    color: black
}
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
.nav-superior .nav-item .nav-link:hover {
     color: rgb(107, 107, 107);
}

.img-header{
    background-image: url("../img/rascacielos.jpg");
    font-family: Urban_Labels;
    background-size: cover;
    background-position-x: 50px;
}

.img-detalle{
    width: 25vw;
    height: 25vw;
}

