body {
	margin: 0;
	padding: 0;
	font-family: serif;
}

.header_admin {
	z-index: 2;
	background: #262D29;
	color: white;
	height: 75px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
    border-bottom:  #668ECB groove 5px;
}
.header_admin a {
    color: white;
    text-decoration: none;
}

/*
 * Logo
 */
.logo {
	float: right;
	margin-right: 20px;
}

.logo-header {
	float: left;
	text-align: right;
	margin: 20px 10px;
}

#imagen_logo{
	border-radius: 10px;
	margin: 2px;
    margin-right: 5px;
    filter: invert(100%);
}

.logo-header .site-name {
	display: block;
	font-size: 1.2em;
}

.logo-header .site-desc {
	display: block;
	font-size: 0.6em;
}


/*
 * Navegación
 */



nav {
	z-index: inherit;
	position: fixed;
	top: 80px;
	width: 200px;
	height: 100%;
	background:#555c59;
    line-height: 40px;
    font-size: 1em;
    color: whitesmoke;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu_admin {
    display:block;
    width: 100%;
    height: 40px;
    border-bottom: #1C1E1D 1px solid;
    padding:0

}
.menu_admin:hover, .menu_select{
    filter: invert(100%);
    background: rgb(44, 38, 38);
}
.imagenes{
    width: 40px;
    padding: 5px;
    margin: 0 10px;
    height: auto;
    float: left;
    box-sizing: border-box;
    filter: invert(100%);
}

nav ul a {
    color:#fff;
    display: block;
    text-decoration: none;
}		
	
/* pie de pagina*/

.footer_admin {
	position: fixed;
	width: 100%;
	background: #333333;
	color: white;
	text-align: center;
    bottom: 0;
}
.footer_admin  p {
	margin: 10px;
}

.footer_admin a {
	color: white;
}

/*section*/
section {
    background: #FFFFFF;
    margin-top: 80px;
	margin-left: 200px;
    padding: 30px 40px 100px 40px;
    box-sizing: border-box;
    font-family: robotos;
}  

section input{
    font-family: Overpass;
}

/*tabla*/
 .lista_admin{
    width: 100%;
    padding: 40px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    box-sizing: border-box;
    }
    
    @media screen and (max-width:1400px){
        .lista_admin{
            overflow-y: auto;
        }
    }
    .lista_admin span{
        display: inline;
        display: grid;
         grid-template-columns: 170px 1fr 1fr 1fr 180px;
    }
    
    .lista_admin div{
        padding:35px 25px;
        text-align:left;
        border-radius:2px;
        border-bottom:1px solid rgba(0,0,0,0.12);
    }

    .img_producto{
        padding:5px 5px !important;
    }

    .img_producto div{
        padding: 0 !important;
        border: none !important;
        width: 80px;
        height: auto;
    }

    .lista_admin img{
        width: 100%;
        height: auto;
      }

      @supports(object-fit: cover){
        #lista_admin img{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
      }

    .Titulo_lista{
        padding:15px 25px !important;
        font-size: 1.5em;
        background-color: rgba(0,0,0,0.12);
    }

    .boton_modificar{
        background-color: hsl(120, 39%, 75%);
        border: 2px solid green;
        color: green !important;
    }

    .boton_modificar:hover{
        background-color: green;
        border: 2px solid hsl(120, 39%, 75%);
        color: white !important;
    }

    .boton_cancelar{
        background: rgb(226, 167, 167);
        border: 2px solid red;
        color: rgb(92, 7, 7) !important;
    }

    .boton_cancelar:hover{
        color: white !important;
        border: 2px solid rgb(226, 167, 167);
        background-color: rgb(92, 7, 7);
    }

    .boton_añadir, .añadir_linea{
        background: #adadf8;
        border: 2px solid blue;
        color: rgb(7, 7, 138) !important;
        border-radius: 5px;
    }

    .boton_añadir:hover, .añadir_linea:hover{
        border: 2px solid #adadf8;
        color: white !important;
        background: rgb(7, 7, 138);
    }
    
    .boton_nuevo{
        float: left;
        color: whitesmoke;
        margin: 15px 10px;
        height: 30px;
        width: 80px;
        background-color: #5c5c5c;
        border-radius: 5px;
    }

    .boton_nuevo:hover{
        color: rgb(63, 63, 63);
        background-color: #b3b3b3;
    }
/*Modales*/
.modal{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    z-index: 8;
    box-sizing: border-box;
}


    /*Modal*/
.modal_form form{
    margin: 225px auto;
    width: 400px;
    height: 250px;
    background: whitesmoke;
    border-radius: 15px;
    padding: 20px 60px;
    padding-bottom: 50px;
}

.modal_form form h2{
    text-align: center;
}

.modal_form form label{
    float: left;
    width: 40%;
}

.modal_form form input{
    float:  left;
    width: 55%;
}

.modal_form form span{
    float: right;
    width: 100%;
    margin: 5px 0;
}

.modal_form form input[type="button"]{
    color: black;
    float: right;
    height: 25px;
    width: 20%;
    margin: 0 5px;
    border-radius: 10px;
}

/*Modal de Mensaje*/

.modalMSG>div{
    margin: 325px auto;
    width: 600px;
    height: 150px;
    background: whitesmoke;
    border-radius: 0 0 5px 5px;
}

.modalMSG div>div:nth-child(1){
    border-top: 5px solid #5c5c5c;
    height: 20%;
    box-sizing: border-box;
}

.modalMSG div>div:nth-child(2){
    color: #8a8a8a;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    height: 40%;
    padding: 15px 10px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.modalMSG input{
    float: right;
    color: whitesmoke;
    margin: 15px 10px;
    height: 30px;
    width: 80px;
    background-color: #5c5c5c;
    border: none;
    border-radius: 5px;
}

.modalMSG input:hover{
    color: rgb(63, 63, 63);
    background-color: #b3b3b3;
}
/*Modal de IMG*/

.modalIMG>div{
    margin: 225px auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    background: whitesmoke;
    border-radius: 15px;
}

.modalIMG img:nth-child(1){
    width: 100%;
    height: auto;
  }

  @supports(object-fit: cover){
    .modalIMG img:nth-child(1){
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

  .boton-menu{
      float: right;
      margin: 0 5px;
      width: 30px !important;
  }

  .modalIMG img:nth-child(2){
      position: fixed;
      margin-left: 280px;
      top: 230px;
      width: 20px;
      border: none;
      background-color: transparent;
  }

  .Detalles_pedido{
    grid-column-start: 1;
    grid-column-end: 6;
    display: block;
  }

  .lista_lineas{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 0 25px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    box-sizing: border-box;
    }
    
    .lista_lineas span{
        display: inline;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 120px;
    }
    .lista_lineas div{
        padding:10px 25px;
        text-align:center;
        border-radius:2px;
        border-bottom:1px solid rgba(0,0,0,0.12);
        /*line-height: 50px;*/
    }

    .lista_lineas input{
        margin: 0 40%;
    }

    /*Modal pedido*/

.modal_pedido form, .modal_linea form{
    margin: 225px auto;
    width: 400px;
    height: 200px;
    background: whitesmoke;
    border-radius: 15px;
    padding: 20px 60px;
    padding-bottom: 50px;
}

.modal_pedido form h2, .modal_linea form h2{
    text-align: center;
}

.modal_pedido form label, .modal_linea form label{
    float: left;
    width: 40%;
}

.modal_pedido form input, .modal_linea form input{
    float:  left;
    width: 55%;
}

.modal_pedido form span, .modal_linea form span{
    float: right;
    width: 100%;
    margin: 5px 0;
}

.modal_pedido form input[type="button"], .modal_linea form input[type="button"]{
    color: black;
    float: right;
    height: 25px;
    width: 20%;
    margin: 0 5px;
    border-radius: 10px;
}