<section class="container-fluid pl-5 pr-5">
  <h1 class="mb-4 text-center">Gestion Clientes</h1>
  <section>
    <div class="row text-center p-2 pb-3 pt-3 bg-secondary text-light">
      <span class="col-1">Id</span>
      <span class="col-3">Fecha</span>
      <span class="col-2 col-md-3">Direccion de Entrega</span>
      <span class="col-2 col-lg-3">dniClient</span>
      <span class="col-4 col-md-3 col-lg-2"></span>
    </div>
    <pedido [pedido]="pedido" *ngFor="let pedido of pedidos" (cambio)=funCambiar($event)></pedido>
    <button (click)="postPedido()" type="submit" class="btn btn-secondary mr-3 mt-1" data-toggle="modal"
      data-target="#exampleModal">Nuevo Pedido</button>
  </section>
  <!--depende de la funcion que realicemos activamos un modal u otro-->
  <form-post-pedido *ngIf="modalPostPedido" (updatePedidos)=updatePedidos(event) (cambio)=funCambiar($event)
    (msgError)=funError($event)>
  </form-post-pedido>
  <form-put-pedido *ngIf="modalPutPedido" [idPedido]="idPedido" (updatePedidos)=updatePedidos(event)
    (cambio)=funCambiar($event) (msgError)=funError($event)>
  </form-put-pedido>
  <modal-delete-pedido *ngIf="modalDeletePedido" [idPedido]="idPedido" (updatePedidos)=updatePedidos(event)
    (cambio)=funCambiar($event) (msgError)=funError($event)>
  </modal-delete-pedido>
  <modal-error *ngIf="modalError" [msgError]="msgError" (close)=cerrarModal()></modal-error>
</section>