<section class="fixed-top modal-bg vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div id="contacto" class="modal-div container p-5 col-9 col-md-6 bg-light">
        <h1 class="text-center m-4">Confirmar</h1>
        <span class="d-flex justify-content-center">
            <button (click)="deleteProducto()" type="button" class="btn btn-secondary mr-5">Confirmar</button>
            <button (click)="close()" type="button" class="btn btn-secondary">Cancelar</button>
        </span>

    </div>
</section>