RewriteEngine on
RewriteRule ^contoladores/gestion_clientes$ contoladores/gestion_clientes.php
RewriteRule ^contoladores/gestion_clientes/(.+)$ contoladores/gestion_clientes.php?dniCliente=$1
RewriteRule ^contoladores/gestion_clientes/(.+)/(.+)/(.+)/(.+)/(.+)$ contoladores/gestion_clientes.php?dniCliente=$1&$2=$3&$4=$5

