body{
    background-color: hsl(0, 0%, 91%) !important;
}

section{
    background-color: white !important;
}

.nav-superior .nav-item .nav-link {
    color: black
}
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
.dropdown-toggle, .nav-pills .nav-link{
     color: rgb(107, 107, 107) !important;
}

.dropdown-toggle:focus, .dropdown-toggle:active, .nav-pills .show > .nav-link{
    color: whitesmoke !important;
    background-color: rgb(107, 107, 107) !important;
}


.img-header{
    background-image: url("../img/rascacielos.jpg");
    font-family: Urban_Labels;
    background-size: cover;
    background-position-x: 50px;
}

.img-detalle{
    width: 25vw;
    height: 25vw;
}

.dropdown-menu {
    left: -120px !important;
    width: 300px !important;
}