<ul *ngIf="nombre" class="nav justify-content-end p-0">
  <li class="nav-item">
    <a class="nav-link active text-dark" href="#">{{nombre}}</a>
  </li>
</ul>
<ul class="nav nav-tabs nav navbar-dark bg-dark p-2">
  <li class="nav-item">
    <img class="mr-2" src="../../assets/img/dibujo.svg.png" width="40px" alt="">
  </li>
  <li class="nav-item">
    <a (click)="cambiarGestionClientes()" class="nav-link text-light" href="#">Clientes</a>
  </li>
  <li class="nav-item">
    <a (click)="cambiarGestionProductos()" class="nav-link text-light" href="#">Productos</a>
  </li>
  <li class="nav-item">
    <a (click)="cambiarGestionPedidos()" class="nav-link text-light" href="#">Pedidos</a>
  </li>
</ul>