<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">URBANSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a (click)="cambiarGestionClientes()" class="nav-link text-light" href="#">Clientes</a>
        </li>
        <li class="nav-item">
            <a (click)="cambiarGestionProductos()" class="nav-link text-light" href="#">Productos</a>
        </li>
        <li class="nav-item">
            <a (click)="cambiarGestionPedidos()" class="nav-link text-light" href="#">Pedidos</a>
        </li>
      </ul>
    </div>
  </nav>
  <p>
  </p>